.App {
  padding: 10px;
}
.mb-3{
  border:none;
  
}
.card{
  margin-top: 10px;

} 
.color{
  color:rgb(20, 98, 214);
}
.warning{
  color: green;
  font-size:large;
  text-align: right;

}
.container{
  padding: 20px;

}
h1{
  text-align: center;
}
.footer{
  height: 50px;
  text-align: center;
}
.header{
  height: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
}
.fa{
  font-size: 32px;
  color:white;
}
nav{
  border-radius: 5px;
}
.navbar-brand{
  font-size: 25px;

}
